In [2]:
print(123)# Integer

123

In [3]:
print('python for the beginners') #string

python for the beginners

In [7]:
print(python for the beginner) # To print text.which is also
# called string, we use quotaion marks. without using quotation
# marks, it makes an error .string problem

SyntaxError: invalid syntax (<ipython-input-7-9fc7c0ab094e>, line 1)

In [11]:
# whatever inside quotation marks is treated like string whether it is test,
# integer or a float
print('1223')#integer
print('9.9') # float

# the function print take one or more than one input and prints as it is 
# to the screen. values separated by comma. comma tells interpreter that new 
# value starts

1223
9.9

In [12]:
print("Hello", 123, 345, 13.2) # all values

Hello 123 345 13.2

In [14]:
print("hello",123,234,13.2,sep="----") # you can see signature of any
#function by putting cursor inside parentheses and pressing "shift+ tap"
# signature tells us that the function takes which type which type of
# input.in the follow block we see the signature of function print(12,shifttap)

hello----123----234----13.2

# Rules for naming a variable

In [15]:
#1. Variable can't enclose in quotation marks like “number”=1.
#2. Variable can't have any spaces in it. If you want to use more than one word
#as a variable, you can use underscore which helps us easy to read like my_lucky_number=1.
#3. It can’t be python reserved name discussed in chapter 1.
#4. It can't be a number or begin with a number like 123=456.

In [16]:
# The folllowing name is illegal, becase it initialize with 1 in the 
# variable name 

1st_day = "monday"

SyntaxError: invalid syntax (<ipython-input-16-f504b1ffe532>, line 4)

In [17]:
# But this does not make error because 1 comes later in variable name as follows

day_1 = "monday"
print(day_1)

monday

# So python variables can also change like this.

In [18]:
# Python is blind to semantics. variable name can be anything you want to
# give(until it follows all the rules). it can be any name, ABC or XYZ

In [1]:
name = "Lime"
name

'Lime'

In [2]:
print("hi!"+name) # also we can print a string with the variable like,
#R we put string in quotation marks but we dont put variable in the quotes

hi!Lime

In [3]:
type(name) # initially variable have no data type unless we give the value
# to the variable.we check data type data of any variable by function type()

str

In [6]:
first_name = "linna"
last_name = "Buran"

In [7]:
print(first_name+last_name) # in string, + operator is not for addition but concatenate

linnaBuran

In [8]:
num1 = "12"
num2 = "34"

In [9]:
result = num1+num2

In [10]:
#We concatenate these variables to the new variable result. One thing to be
#noted that it would not work, the result might be 1234 rather than 46 as
#Python can't sum strings. We can see the output as follows

In [11]:
print(result)

1234

In [12]:
# = sign in python called assignment variable.
# A variable name also name also called identifier

In [13]:
decimal = 9.8 #We can store any float value in the variable. In the following, we define a
#variable decimal and assign float value 9.8 to it

In [15]:
print(decimal) #when we call variable decimal we get the follow output

9.8

In [16]:
print(decimal + 1) # We can use the existing variable and add values to it. Here we add integer
#value 1 to the decimal. i-e 9.8 + 1 equals to 10.8

10.8

In [17]:
print( decimal + 2.1) #Similarly, we can also add float to the variable decimal as follows

11.9

In [18]:
x = 1

In [19]:
print(x) # Whenever you have to access value 1 you pass variable to the print function
#as follows

1

In [20]:
x = 1.1

In [21]:
print(x) # Float value 1.1 is stored in x so data type of variable is float. We check it as
#follows

1.1

In [22]:
type(x)

float

In [23]:
original_value=190#as the integer value 190 assigned to the variable
new_value=10#original_value and integer value 10 assigned to another variable new_value.
result=original_value+new_value#Both variables added to another variable result. The result now has a value of
#200.So when we print the variable result then the output will be 200.

In [24]:
print(result)

200

In [25]:
num = 12
mun = 26
result = num+mun

In [26]:
print(result)

38